body.dark-bg {
    background-image: url('../assets/wp12260565-4k-pc-dark-wallpapers.jpg');
    background-position: 10% 90%;
}

body.light-bg {
    background-color: skyblue;
}

.darkMode-Container {
    position: absolute !important;
    left: 40px;
    top: 20px;
    z-index: 9999;
}

.icon {
    font-size: 18px;
}

.label {
    font-size: 16px;
}