* {
    direction: rtl;
    text-align: right;
}

.pointer {
    cursor: pointer !important;
}

.transition_200 {
    transition: all 200ms ease;
}

.text_hover_shadow:hover {
    text-shadow: 0 0 3px black;
}

.text_shdow {
    text-shadow: 0 0 8px rgb(14, 215, 241);
}

.h_fit {
    height: fit-content;
}