/* h4 {
    position: relative;
    background: linear-gradient(90deg, #000, #157df3, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: textAnimate 4s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);;
}

@keyframes textAnimate {
    0% {
        background-position: 300%;
    }

    100% {
        background-position: -200%;
    }
} */