@font-face {
    font-family: kalameh;
    src: url('./assets/fonts/kalameh/KalamehWeb-Regular.woff') format('woff');
}

* {
    font-family: kalameh;
}

body,
#root {
    height: 100%;
}

body {
    font-family: kalameh;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url('./assets/black-and-white-geometric-wallpaper-images-1920x1080.jpg');
    cursor: url('./assets/icons8-cursor-50\ \(1\).png'), auto;
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover {
    cursor: url('./assets/icons8-hand-cursor-48\ \(1\).png'), auto;
}
ul {
    list-style: none;
    line-height: 30px;
}

a {
    text-decoration: none !important;
    display: none;
    transition: all 100ms;
}

i:not(.btn_plus_icon) {
    color: #ffffff;
    margin-right: 40%;
    transition: all 100ms;
}

td,
th {
    text-align: center !important;
}

li {
    transition: all 100ms;
}

tbody:hover {
    background-color: #ebe6e681 !important;
}

h4 {
    position: relative;
}

.sidebar_section {
    position: fixed;
    width: 80px;
    right: 0;
    top: 0;
    height: 100vh;
    display: block;
    transition: all 200ms ease;
    z-index: 999;
}

.sidebar_section:hover {
    width: 250px;
}

.sidebar_section:hover ul li a {
    display: inline;
}

.sidebar_section:hover ul li i {
    margin-right: 0;
}

.sidebar_section::after {
    content: "";
    position: absolute;
    /* background-image: url('./assets/depositphotos_662664732-stock-illustration-modern-dark-green-abstract-geometric.jpg');
     */
    background-image: url('./assets/background-sidebar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    filter: blur(4px);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

.sidebar_avatar {
    margin-top: 2rem;
    text-align: center;
    padding: 0.3rem 0.5rem !important;
}

.sidebar_avatar img {
    max-width: 75px;
    border-radius: 50%;
}

.sidebar_list li {
    padding: 0.3rem 1rem;
    transition: all 300ms ease;
}

.sidebar_list li a {
    color: #fff !important;
}

.sidebar_list li:not(.sidebar_avatar):hover {
    padding: 0.3rem 1rem;
    background: #ebe6e681;
}

.content_section {
    position: fixed;
    width: calc(100% - 80px);
    left: 0;
    top: 0;
    height: 100vh;
    overflow: auto;
}

.menu_button {
    position: absolute;
    display: none !important;
}

.preloader {
    width: 11rem;
    height: 11rem;
}

.text-bg img {
    position: absolute;
    width: 400px;
    height: 300px;
    top: -12%;
    left: -50%;
    right: 32%;
    z-index: -100;
}

::selection {
    background-color: cyan;
}

@media (max-width:768px) {
    .content_section {
        width: 100%;
    }

    .sidebar_section {
        right: -250px;
    }

    .sidebar_section.active {
        right: 0;
    }

    .menu_button {
        display: inline !important;
    }
}